body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, th, td {
  margin: 0;
  padding: 0;
  font-size: 100%; }

body {
  font-size: 14px;
  line-height: 1.5;
  color: #323841; }

body, html {
  height: 100%; }

body, button, input, select, textarea {
  font-family: 'Microsoft YaHei', 'Open Sans', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', Arial, Verdana, Tahoma, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

ol, ul, dl {
  list-style-type: none;
  list-style-image: none; }

fieldset, img, a img, iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

select, input, img {
  vertical-align: middle; }

a {
  text-decoration: none;
  outline: 0;
  hide-focus: expression(this.hideFocus=true);
  color: #067f85; }
  a:hover, a:active {
    color: #039aa1;
    outline: 0; }

:focus {
  outline: 0; }

i, em {
  font-style: normal;
  font-weight: normal; }

input, select, textarea {
  padding: 4px 5px;
  resize: none; }

@font-face {
  font-family: "iconfont";
  src: url('admin.eot');
  src: url('admin.eot?#iefix') format('embedded-opentype'), url('admin.woff') format('woff'), url('admin.ttf') format('truetype'), url('admin.svg#iconfont') format('svg'); }

.iconfont {
  font-family: 'iconfont', 'Microsoft YaHei', 'Open Sans', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', Arial, Verdana, Tahoma, sans-serif !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

iframe {
  border: 0; }

img {
  vertical-align: middle; }

.g-clear {
  clear: both;
  *zoom: 1; }

.g-noneborder {
  border: 0 none !important; }

.g-left {
  float: left !important; }

.g-right {
  float: right !important; }

.g-center {
  margin: auto; }

.g-valign {
  vertical-align: middle; }

.g-fcenter {
  text-align: center !important; }

.g-fleft {
  text-align: left !important; }

.g-fright {
  text-align: right !important; }

.g-fbold {
  font-weight: bold; }

.g-hide {
  display: none; }

.g-vhide {
  visibility: hidden; }

.g-ohide {
  overflow: hidden; }

.g-block {
  display: block !important; }

.g-inline {
  display: inline !important; }

.g-bghide {
  background: none !important; }

.fs12 {
  font-size: 12px !important; }

.fs14 {
  font-size: 14px !important; }

.fs16 {
  font-size: 16px !important; }

.fs18 {
  font-size: 18px !important; }

.fs20 {
  font-size: 20px !important; }

.fs22 {
  font-size: 22px !important; }

.fs24 {
  font-size: 24px !important; }

.fs26 {
  font-size: 26px !important; }

.fs28 {
  font-size: 28px !important; }

.fs30 {
  font-size: 30px !important; }

.fs32 {
  font-size: 32px !important; }

.fs34 {
  font-size: 34px !important; }

.fs36 {
  font-size: 36px !important; }

.fs80 {
  font-size: 80px !important; }

.fcgery-1 {
  color: #eff3f3 !important; }

.fcgery-2 {
  color: #f5f5f5 !important; }

.fcgery-3 {
  color: #dadada !important; }

.fcash-1 {
  color: #a4a4a4 !important; }

.fcash-2 {
  color: #868686 !important; }

.fcash-3 {
  color: #5a5a5a !important; }

.fcnavy-1 {
  color: #424954 !important; }

.fcnavy-2 {
  color: #323841 !important; }

.fcnavy-3 {
  color: #1f2328 !important; }

.fcjade-1 {
  color: #09b1b9 !important; }

.fcjade-2 {
  color: #039aa1 !important; }

.fcjade-3 {
  color: #067f85 !important; }

.fcred-1 {
  color: #d74d54 !important; }

.fcred-2 {
  color: #cc3300 !important; }

.fcred-3 {
  color: #D10101 !important; }

.fcorange-1 {
  color: #ff8444 !important; }

.fcorange-2 {
  color: #fb6619 !important; }

.fcorange-3 {
  color: #ea5000 !important; }

.fcyellow-1 {
  color: #f1b600 !important; }

.fcyellow-2 {
  color: #F1A900 !important; }

.fcyellow-3 {
  color: #E7A200 !important; }

.fcgreen-1 {
  color: #87d380 !important; }

.fcgreen-2 {
  color: #51B148 !important; }

.fcgreen-3 {
  color: #1f9d14 !important; }

.fcblue-1 {
  color: #D5EDF8 !important; }

.fcblue-2 {
  color: #00A3CF !important; }

.fcblue-3 {
  color: #0064cd !important; }

.fcdisabled-1 {
  color: #EBEBE4 !important; }

.fcdisabled-2 {
  color: #c5c5bd !important; }

.fcdisabled-3 {
  color: #bdbdbd !important; }

.ff-songti {
  font-family: arial, sans-serif !important; }

.ff-yahei {
  font-family: "Microsoft Yahei" !important; }

.ff-heiti {
  font-family: "SimHei" !important; }

.ma3 {
  margin: 3px !important; }

.ml3 {
  margin-left: 3px !important; }

.mr3 {
  margin-right: 3px !important; }

.mt3 {
  margin-top: 3px !important;
  _margin-top: 1.5px !important; }

.mb3 {
  margin-bottom: 3px !important;
  _margin-top: 1.5px !important; }

.pa3 {
  padding: 3px !important; }

.pl3 {
  padding-left: 3px !important; }

.pr3 {
  padding-right: 3px !important; }

.pt3 {
  padding-top: 3px !important; }

.pb3 {
  padding-bottom: 3px !important; }

.ma5 {
  margin: 5px !important; }

.ml5 {
  margin-left: 5px !important; }

.mr5 {
  margin-right: 5px !important; }

.mt5 {
  margin-top: 5px !important;
  _margin-top: 2.5px !important; }

.mb5 {
  margin-bottom: 5px !important;
  _margin-top: 2.5px !important; }

.pa5 {
  padding: 5px !important; }

.pl5 {
  padding-left: 5px !important; }

.pr5 {
  padding-right: 5px !important; }

.pt5 {
  padding-top: 5px !important; }

.pb5 {
  padding-bottom: 5px !important; }

.w50 {
  width: 50px !important; }

.w15 {
  width: 15px !important; }

.ma6 {
  margin: 6px !important; }

.ml6 {
  margin-left: 6px !important; }

.mr6 {
  margin-right: 6px !important; }

.mt6 {
  margin-top: 6px !important;
  _margin-top: 3px !important; }

.mb6 {
  margin-bottom: 6px !important;
  _margin-top: 3px !important; }

.pa6 {
  padding: 6px !important; }

.pl6 {
  padding-left: 6px !important; }

.pr6 {
  padding-right: 6px !important; }

.pt6 {
  padding-top: 6px !important; }

.pb6 {
  padding-bottom: 6px !important; }

.ma9 {
  margin: 9px !important; }

.ml9 {
  margin-left: 9px !important; }

.mr9 {
  margin-right: 9px !important; }

.mt9 {
  margin-top: 9px !important;
  _margin-top: 4.5px !important; }

.mb9 {
  margin-bottom: 9px !important;
  _margin-top: 4.5px !important; }

.pa9 {
  padding: 9px !important; }

.pl9 {
  padding-left: 9px !important; }

.pr9 {
  padding-right: 9px !important; }

.pt9 {
  padding-top: 9px !important; }

.pb9 {
  padding-bottom: 9px !important; }

.ma10 {
  margin: 10px !important; }

.ml10 {
  margin-left: 10px !important; }

.mr10 {
  margin-right: 10px !important; }

.mt10 {
  margin-top: 10px !important;
  _margin-top: 5px !important; }

.mb10 {
  margin-bottom: 10px !important;
  _margin-top: 5px !important; }

.pa10 {
  padding: 10px !important; }

.pl10 {
  padding-left: 10px !important; }

.pr10 {
  padding-right: 10px !important; }

.pt10 {
  padding-top: 10px !important; }

.pb10 {
  padding-bottom: 10px !important; }

.w100 {
  width: 100px !important; }

.w30 {
  width: 30px !important; }

.ma12 {
  margin: 12px !important; }

.ml12 {
  margin-left: 12px !important; }

.mr12 {
  margin-right: 12px !important; }

.mt12 {
  margin-top: 12px !important;
  _margin-top: 6px !important; }

.mb12 {
  margin-bottom: 12px !important;
  _margin-top: 6px !important; }

.pa12 {
  padding: 12px !important; }

.pl12 {
  padding-left: 12px !important; }

.pr12 {
  padding-right: 12px !important; }

.pt12 {
  padding-top: 12px !important; }

.pb12 {
  padding-bottom: 12px !important; }

.ma15 {
  margin: 15px !important; }

.ml15 {
  margin-left: 15px !important; }

.mr15 {
  margin-right: 15px !important; }

.mt15 {
  margin-top: 15px !important;
  _margin-top: 7.5px !important; }

.mb15 {
  margin-bottom: 15px !important;
  _margin-top: 7.5px !important; }

.pa15 {
  padding: 15px !important; }

.pl15 {
  padding-left: 15px !important; }

.pr15 {
  padding-right: 15px !important; }

.pt15 {
  padding-top: 15px !important; }

.pb15 {
  padding-bottom: 15px !important; }

.w150 {
  width: 150px !important; }

.w45 {
  width: 45px !important; }

.ma18 {
  margin: 18px !important; }

.ml18 {
  margin-left: 18px !important; }

.mr18 {
  margin-right: 18px !important; }

.mt18 {
  margin-top: 18px !important;
  _margin-top: 9px !important; }

.mb18 {
  margin-bottom: 18px !important;
  _margin-top: 9px !important; }

.pa18 {
  padding: 18px !important; }

.pl18 {
  padding-left: 18px !important; }

.pr18 {
  padding-right: 18px !important; }

.pt18 {
  padding-top: 18px !important; }

.pb18 {
  padding-bottom: 18px !important; }

.ma20 {
  margin: 20px !important; }

.ml20 {
  margin-left: 20px !important; }

.mr20 {
  margin-right: 20px !important; }

.mt20 {
  margin-top: 20px !important;
  _margin-top: 10px !important; }

.mb20 {
  margin-bottom: 20px !important;
  _margin-top: 10px !important; }

.pa20 {
  padding: 20px !important; }

.pl20 {
  padding-left: 20px !important; }

.pr20 {
  padding-right: 20px !important; }

.pt20 {
  padding-top: 20px !important; }

.pb20 {
  padding-bottom: 20px !important; }

.w200 {
  width: 200px !important; }

.w60 {
  width: 60px !important; }

.ma21 {
  margin: 21px !important; }

.ml21 {
  margin-left: 21px !important; }

.mr21 {
  margin-right: 21px !important; }

.mt21 {
  margin-top: 21px !important;
  _margin-top: 10.5px !important; }

.mb21 {
  margin-bottom: 21px !important;
  _margin-top: 10.5px !important; }

.pa21 {
  padding: 21px !important; }

.pl21 {
  padding-left: 21px !important; }

.pr21 {
  padding-right: 21px !important; }

.pt21 {
  padding-top: 21px !important; }

.pb21 {
  padding-bottom: 21px !important; }

.ma24 {
  margin: 24px !important; }

.ml24 {
  margin-left: 24px !important; }

.mr24 {
  margin-right: 24px !important; }

.mt24 {
  margin-top: 24px !important;
  _margin-top: 12px !important; }

.mb24 {
  margin-bottom: 24px !important;
  _margin-top: 12px !important; }

.pa24 {
  padding: 24px !important; }

.pl24 {
  padding-left: 24px !important; }

.pr24 {
  padding-right: 24px !important; }

.pt24 {
  padding-top: 24px !important; }

.pb24 {
  padding-bottom: 24px !important; }

.ma25 {
  margin: 25px !important; }

.ml25 {
  margin-left: 25px !important; }

.mr25 {
  margin-right: 25px !important; }

.mt25 {
  margin-top: 25px !important;
  _margin-top: 12.5px !important; }

.mb25 {
  margin-bottom: 25px !important;
  _margin-top: 12.5px !important; }

.pa25 {
  padding: 25px !important; }

.pl25 {
  padding-left: 25px !important; }

.pr25 {
  padding-right: 25px !important; }

.pt25 {
  padding-top: 25px !important; }

.pb25 {
  padding-bottom: 25px !important; }

.w250 {
  width: 250px !important; }

.w75 {
  width: 75px !important; }

.ma27 {
  margin: 27px !important; }

.ml27 {
  margin-left: 27px !important; }

.mr27 {
  margin-right: 27px !important; }

.mt27 {
  margin-top: 27px !important;
  _margin-top: 13.5px !important; }

.mb27 {
  margin-bottom: 27px !important;
  _margin-top: 13.5px !important; }

.pa27 {
  padding: 27px !important; }

.pl27 {
  padding-left: 27px !important; }

.pr27 {
  padding-right: 27px !important; }

.pt27 {
  padding-top: 27px !important; }

.pb27 {
  padding-bottom: 27px !important; }

.ma30 {
  margin: 30px !important; }

.ml30 {
  margin-left: 30px !important; }

.mr30 {
  margin-right: 30px !important; }

.mt30 {
  margin-top: 30px !important;
  _margin-top: 15px !important; }

.mb30 {
  margin-bottom: 30px !important;
  _margin-top: 15px !important; }

.pa30 {
  padding: 30px !important; }

.pl30 {
  padding-left: 30px !important; }

.pr30 {
  padding-right: 30px !important; }

.pt30 {
  padding-top: 30px !important; }

.pb30 {
  padding-bottom: 30px !important; }

.w300 {
  width: 300px !important; }

.w90 {
  width: 90px !important; }

.ma33 {
  margin: 33px !important; }

.ml33 {
  margin-left: 33px !important; }

.mr33 {
  margin-right: 33px !important; }

.mt33 {
  margin-top: 33px !important;
  _margin-top: 16.5px !important; }

.mb33 {
  margin-bottom: 33px !important;
  _margin-top: 16.5px !important; }

.pa33 {
  padding: 33px !important; }

.pl33 {
  padding-left: 33px !important; }

.pr33 {
  padding-right: 33px !important; }

.pt33 {
  padding-top: 33px !important; }

.pb33 {
  padding-bottom: 33px !important; }

.ma35 {
  margin: 35px !important; }

.ml35 {
  margin-left: 35px !important; }

.mr35 {
  margin-right: 35px !important; }

.mt35 {
  margin-top: 35px !important;
  _margin-top: 17.5px !important; }

.mb35 {
  margin-bottom: 35px !important;
  _margin-top: 17.5px !important; }

.pa35 {
  padding: 35px !important; }

.pl35 {
  padding-left: 35px !important; }

.pr35 {
  padding-right: 35px !important; }

.pt35 {
  padding-top: 35px !important; }

.pb35 {
  padding-bottom: 35px !important; }

.w350 {
  width: 350px !important; }

.w105 {
  width: 105px !important; }

.ma36 {
  margin: 36px !important; }

.ml36 {
  margin-left: 36px !important; }

.mr36 {
  margin-right: 36px !important; }

.mt36 {
  margin-top: 36px !important;
  _margin-top: 18px !important; }

.mb36 {
  margin-bottom: 36px !important;
  _margin-top: 18px !important; }

.pa36 {
  padding: 36px !important; }

.pl36 {
  padding-left: 36px !important; }

.pr36 {
  padding-right: 36px !important; }

.pt36 {
  padding-top: 36px !important; }

.pb36 {
  padding-bottom: 36px !important; }

.ma39 {
  margin: 39px !important; }

.ml39 {
  margin-left: 39px !important; }

.mr39 {
  margin-right: 39px !important; }

.mt39 {
  margin-top: 39px !important;
  _margin-top: 19.5px !important; }

.mb39 {
  margin-bottom: 39px !important;
  _margin-top: 19.5px !important; }

.pa39 {
  padding: 39px !important; }

.pl39 {
  padding-left: 39px !important; }

.pr39 {
  padding-right: 39px !important; }

.pt39 {
  padding-top: 39px !important; }

.pb39 {
  padding-bottom: 39px !important; }

.ma40 {
  margin: 40px !important; }

.ml40 {
  margin-left: 40px !important; }

.mr40 {
  margin-right: 40px !important; }

.mt40 {
  margin-top: 40px !important;
  _margin-top: 20px !important; }

.mb40 {
  margin-bottom: 40px !important;
  _margin-top: 20px !important; }

.pa40 {
  padding: 40px !important; }

.pl40 {
  padding-left: 40px !important; }

.pr40 {
  padding-right: 40px !important; }

.pt40 {
  padding-top: 40px !important; }

.pb40 {
  padding-bottom: 40px !important; }

.w400 {
  width: 400px !important; }

.w120 {
  width: 120px !important; }

.ma42 {
  margin: 42px !important; }

.ml42 {
  margin-left: 42px !important; }

.mr42 {
  margin-right: 42px !important; }

.mt42 {
  margin-top: 42px !important;
  _margin-top: 21px !important; }

.mb42 {
  margin-bottom: 42px !important;
  _margin-top: 21px !important; }

.pa42 {
  padding: 42px !important; }

.pl42 {
  padding-left: 42px !important; }

.pr42 {
  padding-right: 42px !important; }

.pt42 {
  padding-top: 42px !important; }

.pb42 {
  padding-bottom: 42px !important; }

.ma45 {
  margin: 45px !important; }

.ml45 {
  margin-left: 45px !important; }

.mr45 {
  margin-right: 45px !important; }

.mt45 {
  margin-top: 45px !important;
  _margin-top: 22.5px !important; }

.mb45 {
  margin-bottom: 45px !important;
  _margin-top: 22.5px !important; }

.pa45 {
  padding: 45px !important; }

.pl45 {
  padding-left: 45px !important; }

.pr45 {
  padding-right: 45px !important; }

.pt45 {
  padding-top: 45px !important; }

.pb45 {
  padding-bottom: 45px !important; }

.w450 {
  width: 450px !important; }

.w135 {
  width: 135px !important; }

.ma48 {
  margin: 48px !important; }

.ml48 {
  margin-left: 48px !important; }

.mr48 {
  margin-right: 48px !important; }

.mt48 {
  margin-top: 48px !important;
  _margin-top: 24px !important; }

.mb48 {
  margin-bottom: 48px !important;
  _margin-top: 24px !important; }

.pa48 {
  padding: 48px !important; }

.pl48 {
  padding-left: 48px !important; }

.pr48 {
  padding-right: 48px !important; }

.pt48 {
  padding-top: 48px !important; }

.pb48 {
  padding-bottom: 48px !important; }

.ma50 {
  margin: 50px !important; }

.ml50 {
  margin-left: 50px !important; }

.mr50 {
  margin-right: 50px !important; }

.mt50 {
  margin-top: 50px !important;
  _margin-top: 25px !important; }

.mb50 {
  margin-bottom: 50px !important;
  _margin-top: 25px !important; }

.pa50 {
  padding: 50px !important; }

.pl50 {
  padding-left: 50px !important; }

.pr50 {
  padding-right: 50px !important; }

.pt50 {
  padding-top: 50px !important; }

.pb50 {
  padding-bottom: 50px !important; }

.w500 {
  width: 500px !important; }

.w150 {
  width: 150px !important; }

.pl136 {
  padding-left: 136px !important; }

.w17 {
  width: 17px !important; }

.w110 {
  width: 110px !important; }

.w190 {
  width: 190px !important; }

.h100 {
  height: 100px !important; }

.c-normal {
  color: #fff;
  background: #323841;
  border: 1 solid #1f2328; }
  .c-normal:hover {
    color: #fff;
    background: #1f2328;
    border: 1 solid #1f2328; }
  .c-normal:active {
    color: #fff;
    background: #424954;
    border: 1 solid #1f2328; }

.c-priority {
  color: #fff;
  background: #039aa1;
  border: 1 solid #067f85; }
  .c-priority:hover {
    color: #fff;
    background: #067f85;
    border: 1 solid #067f85; }
  .c-priority:active {
    color: #fff;
    background: #09b1b9;
    border: 1 solid #067f85; }

.c-obvious {
  color: #fff;
  background: #F1A900;
  border: 1 solid #E7A200; }
  .c-obvious:hover {
    color: #fff;
    background: #E7A200;
    border: 1 solid #E7A200; }
  .c-obvious:active {
    color: #fff;
    background: #f1b600;
    border: 1 solid #E7A200; }

.c-important {
  color: #fff;
  background: #cc3300;
  border: 1 solid #D10101; }
  .c-important:hover {
    color: #fff;
    background: #D10101;
    border: 1 solid #D10101; }
  .c-important:active {
    color: #fff;
    background: #d74d54;
    border: 1 solid #D10101; }

.c-disable {
  color: #fff;
  background: #c5c5bd;
  border: 1 solid #bdbdbd; }
  .c-disable:hover {
    color: #fff;
    background: #bdbdbd;
    border: 1 solid #bdbdbd; }
  .c-disable:active {
    color: #fff;
    background: #bdbdbd;
    border: 1 solid #bdbdbd; }

#header {
  height: 50px;
  background-color: #323841;
  color: #fff;
  clear: both;
  white-space: nowrap;
  overflow: hidden; }
  #header h1 {
    width: 190px;
    height: 50px;
    float: left;
    overflow: hidden; }

#nav {
  line-height: 50px;
  float: left;
  display: inline; }
  #nav li {
    float: left;
    display: inline; }
    #nav li a {
      font-size: 16px;
      font-weight: 500;
      color: #fff;
      padding: 0 20px 0 20px;
      display: block; }
      #nav li a:hover {
        color: #fff;
        background-color: #039aa1; }
    #nav li a.on {
      color: #fff;
      background-color: #039aa1; }

#notice {
  line-height: 50px;
  float: right;
  display: inline;
  margin-right: 10px; }
  #notice span {
    margin-right: 20px;
    cursor: pointer; }
    #notice span:hover {
      color: #09b1b9; }

#nav.small li a {
  padding: 0 15px 0 10px;
  width: 16px; }

#nav.small li a span {
  display: none; }

#my {
  float: right;
  display: inline; }
  #my p {
    height: 40px;
    padding: 10px 60px 0 10px;
    padding-right: 20px\9;
    line-height: 15px;
    overflow: hidden;
    float: left;
    display: inline; }
    #my p img {
      float: left;
      display: inline;
      margin: 0 10px 0 10px;
      width: 30px;
      height: 30px; }
  #my #welcome {
    display: block; }
  #my .oper {
    float: left;
    display: inline; }
    #my .oper p {
      width: 50px;
      height: 50px;
      line-height: 50px;
      background-color: #039aa1;
      overflow: hidden;
      cursor: pointer;
      padding: 0; }
  #my .box {
    color: #323841;
    position: absolute;
    top: 50px;
    right: 0;
    border: 1px solid #dadada;
    border-top: 0;
    padding: 10px;
    display: none;
    z-index: 1000;
    background-color: #fff; }
    #my .box dl {
      padding: 5px;
      float: left;
      display: inline; }
      #my .box dl dt {
        color: #424954;
        line-height: 30px;
        padding: 0 30px 0 6px;
        font-weight: bold;
        border-bottom: 2px solid #eff3f3; }
      #my .box dl dd {
        line-height: 26px;
        padding-top: 6px; }
        #my .box dl dd li {
          height: 26px;
          margin: 1px; }
          #my .box dl dd li a {
            display: block;
            padding-left: 6px;
            color: #323841;
            border-radius: 3px; }
            #my .box dl dd li a:hover {
              color: #fff;
              background-color: #039aa1; }
          #my .box dl dd li .myred {
            color: #d74d54; }
  #my div.oper {
    margin: 0;
    padding: 0; }

#middle {
  position: absolute;
  top: 50px;
  width: 100%;
  height: auto; }

#left {
  width: 0;
  position: absolute;
  overflow: auto;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #323841;
  scrollbar-arrow-color: #888;
  scrollbar-face-color: #eee;
  scrollbar-3dlight-color: #fff;
  scrollbar-highlight-color: #fff;
  scrollbar-shadow-color: #ccc;
  -ms-scrollbar-darkshadow-color: #fff;
  -ms-scrollbar-track-color: #f1f1f1;
  -ms-scrollbar-base-color: #f8f8f8; }
  #left::-webkit-scrollbar {
    width: 5px; }
  #left::-webkit-scrollbar-track {
    background: #f1f1f1;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    border-radius: 6px; }
  #left::-webkit-scrollbar-thumb {
    background: #eee;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
  #left dl {
    display: none; }
    #left dl dt {
      height: 25px;
      background: #323841 url(../images/icon.png) no-repeat 166px 16px;
      padding: 10px 0 10px 10px;
      font-size: 16px;
      cursor: pointer;
      color: #fff;
      border-bottom: 1px solid #424954; }
    #left dl dd {
      display: none;
      background: #868686; }
      #left dl dd li a {
        color: #fff;
        background: #424954;
        display: block;
        line-height: 40px;
        padding-left: 35px;
        position: relative;
        *zoom: 1; }
        #left dl dd li a:hover {
          color: #fff;
          background-color: #039aa1; }
  #left dl.on {
    display: block; }

#left.on {
  width: 190px; }

.ui-dialog {
  position: fixed;
  _position: absolute;
  border: 1px solid #a4a4a4;
  background-color: #fff;
  overflow: hidden; }
  .ui-dialog .dialog-title {
    border-bottom: 3px solid #09b1b9;
    height: 45px;
    line-height: 45px;
    padding: 0 6px 0 12px;
    white-space: nowrap;
    -moz-user-select: none;
    color: #eff3f3;
    background-color: #323841; }
    .ui-dialog .dialog-title h1 {
      font-size: 18px;
      line-height: 45px; }
    .ui-dialog .dialog-title .dialog-close {
      float: right;
      display: inline;
      padding: 0 10px;
      text-decoration: none;
      color: #039aa1; }
      .ui-dialog .dialog-title .dialog-close:hover {
        color: #09b1b9; }

.dialog-body iframe {
  border-bottom: 1px solid #f5f5f5; }

.dialog-icon {
  background: url(../images/tips.png) no-repeat;
  display: block;
  width: 30px;
  height: 30px; }

.dialog-body .info {
  background-position: 0 0; }

.dialog-body .error {
  background-position: -67px 0; }

.dialog-body .success {
  background-position: -36px 0; }

.dialog-btns {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: right;
  height: 55px;
  border-top: 1px solid #ccc;
  background-color: #fff; }

.dialog-btns input {
  margin: 8px 20px 0 0; }

.ui-tabs {
  margin: 0 10px 0 10px; }
  .ui-tabs dt {
    height: 40px;
    line-height: 39px;
    padding-top: 5px;
    float: left;
    display: inline; }
    .ui-tabs dt a {
      font-size: 15px;
      color: #868686;
      background-color: #f5f5f5;
      border-top: 1px solid #dadada;
      border-left: 1px solid #dadada;
      border-right: 1px solid #dadada;
      border-top-left-radius: 5px;
      -moz-border-radius-topleft: 5px;
      border-top-right-radius: 5px;
      -moz-border-radius-topright: 5px;
      padding: 0 30px;
      margin-left: 10px;
      display: block;
      overflow: hidden;
      white-space: nowrap; }
      .ui-tabs dt a:hover {
        color: #fff;
        background-color: #09b1b9;
        border-color: #067f85; }
    .ui-tabs dt a.on {
      color: #323841;
      background-color: #fff;
      border-bottom: 0;
      bottom: -1px;
      position: relative; }
      .ui-tabs dt a.on:hover {
        border-color: #a4a4a4; }
  .ui-tabs dd {
    background-color: #fff;
    border: 1px solid #dadada;
    clear: both;
    overflow: hidden; }

.edittabs dt {
  height: 33px;
  line-height: 32px;
  white-space: nowrap; }
  .edittabs dt label {
    float: left;
    margin-right: 10px;
    padding: 0 32px;
    border: 1px solid #ccc;
    cursor: pointer;
    position: relative; }
    .edittabs dt label a {
      line-height: 19px;
      visibility: hidden;
      position: absolute;
      top: 0; }
    .edittabs dt label:hover a {
      visibility: visible; }
    .edittabs dt label .add {
      left: 6px; }
    .edittabs dt label .edit {
      left: 6px; }
    .edittabs dt label .remove {
      right: 6px; }
    .edittabs dt label .moveleft {
      top: 16px;
      left: 6px; }
    .edittabs dt label .moveright {
      top: 16px;
      right: 6px; }
  .edittabs dt .on {
    background: #fff;
    border-bottom-color: #fff; }
.edittabs dd {
  border: 1px solid #ccc;
  display: none; }
.edittabs .on {
  display: block; }

.ui-termselect {
  clear: both; }
  .ui-termselect li {
    float: left;
    margin: 5px;
    padding-right: 15px;
    position: relative; }
    .ui-termselect li i {
      position: absolute;
      right: -2px;
      top: -2px;
      width: 16px;
      height: 16px;
      overflow: hidden;
      line-height: 16px;
      cursor: pointer; }

#area select {
  margin-right: 5px; }

.ui-areaform {
  display: block;
  margin-bottom: 5px; }
  .ui-areaform select {
    margin-right: 5px; }

ul.ui-listvalue li {
  border: 1px solid #dadada;
  width: 410px;
  height: 94px;
  margin-bottom: 5px;
  position: relative; }
  ul.ui-listvalue li a {
    display: block; }
  ul.ui-listvalue li div {
    width: 260px;
    position: absolute;
    top: 0;
    left: 20px; }
    ul.ui-listvalue li div label {
      display: block;
      margin: 10px; }
  ul.ui-listvalue li .listvalue-imgbox {
    width: 300px;
    height: 120px;
    overflow: hidden; }
  ul.ui-listvalue li:hover {
    background: #f5f5f5; }
ul.ui-listvalue .listvalue-delete {
  width: 16px;
  height: 16px;
  margin: -6px 0 0 -2px;
  color: #dadada; }
  ul.ui-listvalue .listvalue-delete:hover {
    color: #09b1b9; }
ul.ui-listvalue .listvalue-up, ul.ui-listvalue .listvalue-down {
  position: absolute;
  width: 65px;
  height: 95px;
  text-align: center;
  line-height: 95px;
  border-left: 1px solid #dadada; }
  ul.ui-listvalue .listvalue-up:hover, ul.ui-listvalue .listvalue-down:hover {
    background: #f5f5f5; }
ul.ui-listvalue .listvalue-up {
  top: 0;
  right: 66px; }
ul.ui-listvalue .listvalue-down {
  top: 0;
  right: 0; }

.t-listbox {
  border: 1px solid #dadada;
  margin: 0 15px 15px 0; }
  .t-listbox img {
    margin: 5px; }
  .t-listbox span {
    display: block;
    background: #eff3f3;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    font-family: arial, sans-serif; }
  .t-listbox:hover {
    border: 1px solid #039aa1; }

.btn-larger, .btn-base, .btn-smaller {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 4px 12px;
  margin-bottom: 0;
  text-align: center;
  cursor: pointer;
  border: 0 none; }

.btn-larger {
  padding: 10px 16px;
  margin: 0 10px 0 0;
  height: 39px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.btn-base {
  padding: 6px 16px;
  margin: 0 10px 0 0;
  height: 31px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.btn-smaller {
  padding: 3px 10px;
  margin: 0 5px 0 0;
  height: 25px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.ui-calendar {
  background-color: #fff;
  border: 1px solid #dadada;
  position: absolute;
  width: 210px;
  height: 250px;
  display: none;
  overflow: hidden; }

.calendar-title {
  background-color: #323841;
  border-bottom: 3px solid #039aa1;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  text-align: center;
  padding-top: 3px; }
  .calendar-title a {
    color: #039aa1;
    margin: 0 5px;
    padding: 0 5px;
    text-decoration: none;
    font-weight: bold; }
    .calendar-title a:hover {
      color: #067f85; }
  .calendar-title a.calendar-nextmonth {
    float: right;
    margin-right: 10px; }
  .calendar-title a.calendar-prevmonth {
    float: left;
    margin-left: 10px; }
  .calendar-title input {
    border: 1px solid #424954;
    background-color: #fff;
    text-align: center;
    height: 20px;
    padding: 0;
    vertical-align: middle; }

.calendar-body {
  line-height: 20px;
  height: 171px;
  font-size: 12px; }

.calendar-week {
  text-align: center;
  color: #067f85;
  border-bottom: 1px solid #dadada;
  overflow: hidden; }
  .calendar-week span {
    float: left;
    width: 30px; }

.calendar-day {
  height: 122px;
  text-align: center; }
  .calendar-day span {
    color: #ccc; }
  .calendar-day a {
    color: #067f85;
    text-decoration: none; }
    .calendar-day a:hover {
      color: #fff;
      background: #039aa1;
      border: 1 solid #067f85; }
  .calendar-day a.current {
    color: #fff;
    background: #323841;
    border: 1 solid #1f2328; }

.calendar-day span, .calendar-day a {
  float: left;
  width: 30px;
  height: 20px; }

.calendar-foot {
  background-color: #eff3f3;
  height: 32px;
  clear: both;
  text-align: center;
  overflow: hidden;
  padding-top: 7px; }
  .calendar-foot input {
    padding: 1px 5px;
    border: 0 none; }

.calendar-time {
  clear: both;
  text-align: center; }
  .calendar-time input {
    width: 18px;
    text-align: center;
    border: 1px solid #ddd;
    margin: 0;
    padding: 2px 4px;
    margin: 0 2px; }

.ui-tipsinfo, .ui-tipserror, .ui-tipssuccess {
  cursor: default;
  width: 90%;
  float: left;
  display: inline;
  overflow: hidden;
  line-height: 32px;
  white-space: nowrap;
  position: fixed;
  z-index: 9999;
  background-position: 5px center;
  background-repeat: no-repeat;
  padding-left: 30px; }

.ui-tipsinfo {
  color: #205791;
  background-color: #D5EDF8;
  border: 2px solid #92CAE4;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAaVBMVEX///9PktVWouyawedRmN9Sm+Lg7Pedwuf///9Wou1VoOlSmuJTldZUn+hVn+mYwOZWoexvptzu9v1NkdTf7fxxp937/P5/sOCvzuzk7vhRmN5Xl9dmodpVoexqo9tRlNVVltbi7fhootuUx1cjAAAAAXRSTlMAQObYZgAAAH5JREFUeF5lj1cOA0EIQ83Usr239PsfMgKtlFHWH2CehMBgbX4imvyGU2tZVDFWRbkKmJc9RVHalxmANjyEnqvxgCPFtg9cW3pD25ip8PjU4sZRWv3AU4kLQdr9+APtC7eUAV5pbA6shqMMKHJAY35Xjb68fg13xu+GoZP4+AI3MwnTKJ+ruwAAAABJRU5ErkJggg==); }

.ui-tipserror {
  color: #8A1F11;
  background-color: #FBE3E4;
  border: 2px solid #FBC2C4;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAw1BMVEX////////uVVXuVFTkSEjVb1HsUlLnS0vvW1vmS0vuWVnvXV3dPj7rUFDkyLz2o6P1mZndQD3rUVHVbU/dPz3kR0fUclLdQTzbUDvaWj/69fP60dHeQjvTg2btVFTcTzvmSkrdTTr//f3lzL/UgWTvYWH++fniwbLvX1/zhYXVbEzygYH0k5P709P95ub+8fHwZ2fjxbj1nZ3839/6z8/xcXHdSzrdTDreQzv83d32n5/eQjz3q6v+9fXwa2v96+v84eGH3JX9AAAAAXRSTlMAQObYZgAAALlJREFUeF49jlWSxDAMBSXZDjLDMDPPMt7/VCsnU9t/3VV+FmhmRRXHVTGDB4P+2BfCH/cHrTZ1nlBLktcNh1S6nxtWJ9yTVACrTISIEVl3xO9hdoHUpKcl4jv7zSFbwQsP7LiwL3hmArEgos0U8Yedhq9tsHrIXHX4gGeDrAPiccmlfbI1KUJ8W/PO9Exmyt/S7qu35uXTryuyFcBW0j8y7U43OjX06Zp5aSe8Z5dzeBCokeeNVKDlD2nuD2i4ItR8AAAAAElFTkSuQmCC); }

.ui-tipssuccess {
  color: #264409;
  background-color: #E6EFC2;
  border: 2px solid #C6D880;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAwFBMVEX///////+TzSPD44WSzCOUziaSyyOXzyuZ0DCNxCKn1kyEuCDs9tjt99uOxiKDtx+MwyGx22HP6Z2l1UfC44ORyiOQySKp10/K5ZePxyLv9uDt9d2RyiWZwUuHvCONuTaRyyPI3KCnyGXk7s+Yzy233G3P5Kbx9ueQyCL8/fq81YuTzCOg0UHN36mOvDfu9938/vrg78Gd0TqIviDh78b1+u3C34ms1VuNwSmGuyCh0z+PyCL6/PeXzS+KwCHj7c4XsX5IAAAAAXRSTlMAQObYZgAAAKZJREFUeF5lj9XKQ0EQg3dm5bhr1d1dfn3/t+r0dCmFfncJCSTswYYXUhZ8wzSxgRVGXMlthC+iLRkc3+CMeVILMdrtUXqvwOIyg7OiSKKN5QkG1wwTZpL4QvxtwGQdKjTJECWUzSP8tP4yxCFV8jFAHaB/yBGpkuK03QOA+e0biZS5UlnBCv4dX5CWLqOIspxOYIkq8JyuaqHf1dM/zun7NqL9vH8HBjcL2lWtIocAAAAASUVORK5CYII=); }

b {
  color: #8A1F11;
  background: #FBE3E4;
  border: 2px solid #FBC2C4;
  padding: 3px 5px 3px 30px;
  margin-left: 3px;
  float: left;
  display: inline;
  position: absolute;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAw1BMVEX////////uVVXuVFTkSEjVb1HsUlLnS0vvW1vmS0vuWVnvXV3dPj7rUFDkyLz2o6P1mZndQD3rUVHVbU/dPz3kR0fUclLdQTzbUDvaWj/69fP60dHeQjvTg2btVFTcTzvmSkrdTTr//f3lzL/UgWTvYWH++fniwbLvX1/zhYXVbEzygYH0k5P709P95ub+8fHwZ2fjxbj1nZ3839/6z8/xcXHdSzrdTDreQzv83d32n5/eQjz3q6v+9fXwa2v96+v84eGH3JX9AAAAAXRSTlMAQObYZgAAALlJREFUeF49jlWSxDAMBSXZDjLDMDPPMt7/VCsnU9t/3VV+FmhmRRXHVTGDB4P+2BfCH/cHrTZ1nlBLktcNh1S6nxtWJ9yTVACrTISIEVl3xO9hdoHUpKcl4jv7zSFbwQsP7LiwL3hmArEgos0U8Yedhq9tsHrIXHX4gGeDrAPiccmlfbI1KUJ8W/PO9Exmyt/S7qu35uXTryuyFcBW0j8y7U43OjX06Zp5aSe8Z5dzeBCokeeNVKDlD2nuD2i4ItR8AAAAAElFTkSuQmCC);
  background-position: 5px center;
  background-repeat: no-repeat;
  white-space: nowrap; }

.ui-editor {
  white-space: normal; }

div.pages span, div.pages a {
  border: 1px solid #1f2328;
  padding: 5px 12px;
  margin: 2px; }

div.pages {
  margin: 15px 10px;
  padding: 5px;
  text-align: right; }
  div.pages span.remind {
    border: 0 none;
    margin: 0 5px 0 5px; }
    div.pages span.remind strong {
      margin: 0 5px 0 5px;
      color: #039aa1; }
  div.pages span.current {
    color: #fff;
    background: #323841;
    border: 1px solid #1f2328; }
  div.pages a {
    text-decoration: none; }
    div.pages a:hover {
      color: #fff;
      background: #1f2328;
      border: 1px solid #1f2328; }
    div.pages a:active {
      color: #fff;
      background: #424954;
      border: 1px solid #1f2328;
      text-decoration: none; }

.ui-slider {
  position: relative;
  height: auto;
  margin-left: 5px; }
  .ui-slider .slider-noneselect {
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .ui-slider .slider-background {
    height: 15px;
    width: 250px;
    position: absolute;
    background: #f5f5f5;
    top: 9px; }
    .ui-slider .slider-background .slider-fillingbar {
      height: 15px;
      position: absolute;
      background: #09b1b9; }
    .ui-slider .slider-background .slider-changebtn {
      font-size: 12px;
      width: 16px;
      height: 20px;
      line-height: 21px;
      text-align: center;
      position: absolute;
      background: #424954;
      color: #f5f5f5;
      top: -2px;
      cursor: pointer; }
  .ui-slider .slider-btn {
    height: auto;
    width: 30px;
    position: absolute;
    right: 0;
    top: 0; }
    .ui-slider .slider-btn a {
      display: block;
      margin: 0;
      padding: 0;
      height: 15px;
      line-height: 15px;
      width: 30px;
      position: absolute;
      text-align: center;
      right: 0;
      border: none 0;
      outline: none;
      background: #eff3f3;
      color: #323841; }
      .ui-slider .slider-btn a:hover {
        background: #09b1b9;
        color: #f5f5f5; }
    .ui-slider .slider-btn .slider-cutback {
      top: 16px; }

.ui-imageuploadmulti {
  clear: both;
  overflow: hidden;
  zoom: 1; }
  .ui-imageuploadmulti a {
    float: left;
    border: 1px solid #ddd;
    padding: 2px;
    margin-right: 10px;
    position: relative; }
    .ui-imageuploadmulti a:hover {
      border-color: #ccc; }
    .ui-imageuploadmulti a i {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      width: 16px;
      height: 16px;
      color: #dadada;
      z-index: 1;
      margin: -6px 4px 0 0; }
      .ui-imageuploadmulti a i:hover {
        color: #dadada; }

.ui-fileuploadmulti {
  clear: both;
  overflow: hidden;
  zoom: 1; }
  .ui-fileuploadmulti a {
    float: left;
    border: 1px solid #ddd;
    padding: 6px 20px;
    margin-right: 10px;
    margin-bottom: 5px;
    position: relative; }
    .ui-fileuploadmulti a:hover {
      border-color: #ccc; }
    .ui-fileuploadmulti a i {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      width: 16px;
      height: 16px;
      color: #dadada;
      z-index: 1;
      margin: -6px 4px 0 0; }
      .ui-fileuploadmulti a i:hover {
        color: #dadada; }

.ui-customuploads a, .ui-customuploads img {
  margin-right: 10px; }

.uploadify {
  position: relative;
  margin-bottom: 1em; }

.uploadify-button {
  background-color: #039aa1;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 3px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 0 none;
  color: #fff;
  text-align: center;
  width: 100%; }

.uploadify:hover .uploadify-button {
  background-color: #067f85;
  background-position: center bottom; }

.uploadify-button.disabled {
  background-color: #D0D0D0;
  color: #808080; }

.uploadify-queue {
  margin-bottom: 1em; }

.uploadify-queue-item {
  background-color: #F5F5F5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font: 11px Verdana, Geneva, sans-serif;
  margin-top: 5px;
  max-width: 350px;
  padding: 10px; }

.uploadify-error {
  color: #8A1F11 !important;
  background-color: #FBE3E4 !important;
  border: 2px solid #FBC2C4 !important; }

.uploadify-queue-item .cancel a {
  background: url('../images/uploadify-cancel.png') 0 0 no-repeat;
  float: right;
  height: 16px;
  text-indent: -9999px;
  width: 16px; }

.uploadify-queue-item.completed {
  background-color: #E5E5E5; }

.uploadify-progress {
  background-color: #E5E5E5;
  margin-top: 10px;
  width: 100%; }

.uploadify-progress-bar {
  background-color: #0099FF;
  height: 3px;
  width: 1px; }

.ui-radio label, ui-checkbox label {
  margin: 0 2px; }

.ui-pdf h1 {
  text-align: center;
  font-size: 28px; }

.ui-autoculation {
  margin-left: 10px;
  color: #868686; }
  .ui-autoculation i {
    color: #D10101; }

.m-home {
  margin: 15px auto;
  width: 99%; }
  .m-home p {
    min-width: 980px;
    overflow: hidden;
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    background-color: #D5EDF8;
    color: #205791;
    border: 2px solid #92CAE4;
    white-space: nowrap; }
    .m-home p span {
      color: #D10101;
      font-weight: bold;
      font-size: 16px; }
  .m-home dl {
    min-width: 980px;
    overflow: hidden;
    margin-top: 5px;
    background-color: #f5f5f5; }
    .m-home dl dt {
      background-color: #dadada;
      color: #323841;
      font-size: 18px;
      font-weight: bold;
      width: 100%;
      height: 40px;
      line-height: 40px;
      padding-left: 20px; }
    .m-home dl dd {
      white-space: nowrap;
      float: left;
      width: 25%;
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;
      font-size: 15px; }
      .m-home dl dd:hover {
        background: #D5EDF8; }
      .m-home dl dd a {
        color: #cc3300;
        font-weight: 600;
        margin-left: 5px;
        margin-right: 20px;
        font-size: 16px;
        text-decoration: underline; }
      .m-home dl dd .home-nonum {
        color: #323841;
        font-weight: normal;
        text-decoration: none 0; }

.m-content {
  margin: 10px; }

.m-zindexmin {
  z-index: 0; }

.m-zindexmax {
  z-index: 100; }

.m-editcontent {
  padding-top: 62px; }
  .m-editcontent textarea {
    width: 60%;
    height: 116px;
    resize: none; }

.m-editbar {
  border-bottom: 2px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  background: #eff3f3;
  padding: 15px 30px;
  z-index: 1; }

table.m-list, table.m-list td {
  line-height: 32px; }

table.m-list {
  border: 1px solid #dadada;
  border-bottom: 2px solid #dadada; }
  table.m-list th {
    color: #fff;
    background: #323841;
    line-height: 45px;
    padding: 2px 2px 2px 5px;
    border: 1px soild #323841;
    border-bottom: 2px solid #dadada;
    white-space: nowrap; }
  table.m-list td {
    padding: 0 8px;
    text-align: center;
    border: 1px solid #dadada;
    line-height: 40px;
    white-space: nowrap;
    font-family: arial, sans-serif;
    font-size: 13px; }
  table.m-list .list-alt {
    background: #f5f5f5; }
  table.m-list .list-columnalt {
    background: #e2f3fa; }
  table.m-list .list-cellalt {
    background: #c8e7f6 !important;
    font-weight: bold; }
  table.m-list .list-titlealt {
    background: #039aa1 !important;
    color: #fff; }
  table.m-list tr:hover td {
    background: #e2f3fa; }
  table.m-list tr.pager:hover td {
    background: #fff; }
  table.m-list a.oper, table.m-list a.del {
    margin: 0 5px; }

div.m-oper {
  margin: 10px 0 10px 10px;
  overflow: hidden; }
  div.m-oper span {
    float: right;
    margin-top: 6px; }
    div.m-oper span i {
      margin: 0 10px 0 20px; }

form.m-search {
  margin-top: 10px;
  border-top: 2px solid #D5EDF8;
  background: #eff8fc; }
  form.m-search #btnSwithMoreFilter {
    display: block;
    color: #a4a4a4;
    background: #f5f5f5;
    border-top: 3px solid #dadada;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
    form.m-search #btnSwithMoreFilter:hover {
      color: #fff;
      background: #09b1b9;
      border-top: 3px solid #039aa1; }

table.m-criteria {
  margin-top: 10px;
  border: 0; }
  table.m-criteria th {
    width: 290px;
    height: 40px;
    line-height: 40px;
    padding: 10px 20px 10px 10px;
    text-align: right;
    font-weight: normal;
    white-space: nowrap; }
  table.m-criteria td {
    padding: 10px 0 10px 0;
    white-space: nowrap; }

form div.oper {
  margin: 20px 0 20px 170px; }

form .m-search input {
  margin-right: 20px; }

table.m-info {
  border: 1px solid #dadada; }
  table.m-info .line {
    border-bottom: 3px solid #dadada; }
  table.m-info th {
    background: #eff3f3;
    height: 45px;
    border: 1px solid #dadada;
    width: 150px;
    padding: 8px 10px;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
    white-space: nowrap; }
  table.m-info td {
    border: 1px solid #dadada;
    background: #fff;
    text-align: left;
    padding: 8px 10px;
    white-space: nowrap; }
    table.m-info td em {
      margin-top: 4px;
      color: #a4a4a4;
      display: block;
      font-size: 12px;
      font-family: arial, sans-serif; }
  table.m-info .info-listhead {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background: #f5f5f5; }
  table.m-info ul.info-limit {
    width: 60%; }
    table.m-info ul.info-limit li {
      float: left;
      display: inline; }
  table.m-info table.info-inlinetable {
    border: 0 none; }
    table.m-info table.info-inlinetable td {
      border: 0 none;
      height: 31px; }
  table.m-info .info-miniacc {
    text-align: center;
    color: #205791;
    background: #D5EDF8;
    border: 1px solid #dadada;
    border-bottom: none;
    height: 25px;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding: 7px 0; }
    table.m-info .info-miniacc span {
      position: absolute;
      font-weight: normal;
      font-size: 18px;
      right: 2%;
      cursor: pointer; }
  table.m-info input[type="text"]:focus, table.m-info input[type="password"]:focus, table.m-info select:focus, table.m-info textarea:focus {
    border: 1px solid #039aa1; }
  table.m-info input[type="text"]:focus, table.m-info input[type="password"]:focus {
    padding: 5px 6px; }

.m-trackinfo li {
  margin-top: 5px;
  margin-bottom: 5px; }
.m-trackinfo span {
  font-size: 12px;
  color: #5a5a5a; }
.m-trackinfo .track-remark {
  color: #1f2328;
  display: block;
  background: #f5f5f5;
  padding: 10px 3px;
  white-space: normal;
  margin-top: 5px; }

.customuploads-new {
  overflow: hidden; }
  .customuploads-new .customuploads-col {
    float: left;
    margin: 5px; }
    .customuploads-new .customuploads-col a {
      margin: 10px 0;
      border: 2px solid #dadada;
      display: block;
      overflow: hidden; }
      .customuploads-new .customuploads-col a:hover {
        border: 2px solid #D5EDF8; }

table.m-permission {
  background-color: #f5f5f5; }
  table.m-permission .split {
    height: 10px;
    background: #fff; }
    table.m-permission .split td {
      background: #fff; }
  table.m-permission td {
    background-color: #f5f5f5;
    vertical-align: top;
    border: 0 none; }
  table.m-permission dl dt {
    padding-left: 2em;
    height: 30px; }
  table.m-permission dl dd {
    padding-left: 4em;
    height: 35px; }

.ui-pdf {
  padding: 8px 1px 1px 1px; }

/*# sourceMappingURL=main.css.map */